<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="checkout-inspection" href="/tabs/checkout-inspection">
      <ion-icon color="secondary" name="caret-up"></ion-icon>
      <ion-label>Check-out</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon color="secondary" name="caret-down"></ion-icon>
      <ion-label>Check-in</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon color="secondary" aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
