<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-item lines="none">
        <ion-select
          required
          label="Tipo de daño"
          labelPlacement="sticked"
          value="null"
          required
          [(ngModel)]="damage.idTipoDanio"
          placeholder="Seleccione un tipo"
        >
          <ion-select-option [value]="null"
            >Seleccione un tipo</ion-select-option
          >
          @for (damageType of damageTypes(); track $index) {
          <ion-select-option [value]="damageType.idTipoDanio">{{
            damageType.descTipoDanio
          }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    @for (photo of photoService.photos; track $index) {
    <ion-col>
      <ion-img [src]="'data:image/png;base64,' + photo"></ion-img>
    </ion-col>
    }
  </ion-row>
</ion-grid>
<ion-fab
  style="margin-bottom: 60px"
  vertical="bottom"
  horizontal="end"
  slot="fixed"
>
  <ion-fab-button (click)="addDamage()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>