<app-toolbar></app-toolbar>

<ion-content>
  <ion-card style="border-radius: 10px">
    <ion-card-header>
      <ion-card-title
        >Inspección No. {{currentInspection()?.idInspeccion}}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <fa-icon slot="start" [icon]="bar"></fa-icon>
          Estado: {{currentInspection()?.state?.descEstado}}
        </ion-item>
        <ion-item>
          <fa-icon slot="start" [icon]="contract"></fa-icon>
          <ion-label
            >Contrato No: {{currentInspection()?.contract?.numContrato}}
          </ion-label>
        </ion-item>
        <ion-item>
          <fa-icon slot="start" [icon]="user"></fa-icon>
          <ion-label
            >Cliente:
            {{currentInspection()?.contract?.customer?.nomCliente}}</ion-label
          >
        </ion-item>
        <ion-item>
          <fa-icon slot="start" [icon]="car"></fa-icon>
          <ion-label
            >Vehículo: {{currentInspection()?.car?.nemVehiculo}} |
            {{currentInspection()?.car?.model?.brand?.descMarca}}
            {{currentInspection()?.car?.modelo}}</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card style="border-radius: 10px">
    <ion-card-header>
      <ion-card-title>Salida</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Datos generales</ion-label>
        </ion-list-header>
        <ion-item>
          <fa-icon slot="start" [icon]="agency"></fa-icon>
          <ion-label
            >Agencia:
            {{currentInspection()?.contract?.check_out_agency?.descAgencia}}</ion-label
          >
        </ion-item>
        <ion-item>
          <fa-icon slot="start" [icon]="gauge"></fa-icon>
          <ion-label
            >Kilometraje: {{currentInspection()?.odoSalida |
            number:'0.0'}}</ion-label
          >
        </ion-item>
        <ion-item>
          <fa-icon slot="start" [icon]="gas"></fa-icon>
          <ion-label
            >Nivel de combustible:
            {{currentInspection()?.combSalida}}</ion-label
          >
        </ion-item>
        <ion-item>
          <fa-icon slot="start" [icon]="agent"></fa-icon>
          <ion-label
            >Agente:
            {{currentInspection()?.checkout_agent?.nomUsuario}}</ion-label
          >
        </ion-item>
        <ion-item lines="none">
          <fa-icon slot="start" [icon]="licence"></fa-icon>
          <ion-label>Licencia:</ion-label>
        </ion-item>
        <ion-item>
          @if (currentInspection()?.fotoLicencia != null) {
          <ion-img
            [src]="photosDirectory + currentInspection()?.fotoLicencia"
          ></ion-img>
          }@else {
          <ion-label>Sin registro</ion-label>
          }
        </ion-item>
        <ion-item lines="none">
          <fa-icon slot="start" [icon]="cam"></fa-icon>
          <ion-label>Fotografías:</ion-label>
        </ion-item>
        @if (currentInspection()?.photos?.length! >0) {
        <ion-grid>
          @for (photo of currentInspection()?.photos; track $index) {
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{photo.auto_part?.descPieza}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-img [src]="photosDirectory + photo.foto"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>

          }</ion-grid
        >
        }@else {
        <ion-item>
          <ion-label>Sin registro</ion-label>
        </ion-item>
        }
      </ion-list>

      <ion-list>
        <ion-list-header>
          <ion-label>Accesorios</ion-label>
        </ion-list-header>
        @for (accessory of accessories(); track $index) {
        <ion-item>
          <ion-checkbox
            disabled
            [checked]="accessory.isInCheckout"
            [value]="accessory.idAccesorio"
            >{{ accessory.nomAccesorio }}</ion-checkbox
          >
        </ion-item>
        }
      </ion-list>

      <ion-list>
        <ion-list-header>
          <ion-label>Adicional</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <fa-icon slot="start" [icon]="wheel"></fa-icon>
          <ion-label>Notas Llantas delanteras: </ion-label>
        </ion-item>
        <ion-item>
          <ion-label
            >{{currentInspection()?.comentariosLlantasDelanteras || 'Sin
            Registro'}}</ion-label
          >
        </ion-item>
        <ion-item lines="none">
          <fa-icon slot="start" [icon]="wheel"></fa-icon>
          <ion-label>Notas Llantas traseras: </ion-label>
        </ion-item>
        <ion-item>
          <ion-label
            >{{currentInspection()?.comentariosLlantasTraseras ||
            'SinRegistro'}}</ion-label
          >
        </ion-item>
        <ion-item lines="none">
          <fa-icon slot="start" [icon]="battery"></fa-icon>
          <ion-label>Notas batería: </ion-label>
        </ion-item>
        <ion-item>
          <ion-label
            >{{currentInspection()?.comentariosBateria ||
            'SinRegistro'}}</ion-label
          >
        </ion-item>
        <ion-item lines="none">
          <ion-label>Firma del cliente</ion-label>
        </ion-item>
        <ion-item>
          <img
            [src]="photosDirectory + currentInspection()?.firmaClienteSalida"
            alt="firma del cliente"
          />
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  @if (currentInspection()?.idEstado == 49) {
  <ion-card style="border-radius: 10px">
    <ion-card-header>
      <ion-card-title>Entrada</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <strong>Datos generales</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"
          >Agencia:
          {{currentInspection()?.contract?.check_in_agency?.descAgencia}}
        </ion-col>
        <ion-col size="6">
          Kilometraje: {{currentInspection()?.odoEntrega | number:'0.0'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Nivel de combustible: {{currentInspection()?.combEntrega}}
        </ion-col>
        <ion-col size="6">
          Agente: {{currentInspection()?.checkin_agent?.nomUsuario}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <strong>Daños</strong>
        </ion-col>
      </ion-row>
      @for (damage of currentInspection()?.checkin_damages; track $index) {
      <ion-card>
        <img [src]="photosDirectory + damage.fotos" alt="foto de daño" />
        <ion-card-header>
          <ion-card-title
            >Tipo de daño: {{damage.damage_type?.descTipoDanio}}</ion-card-title
          >
          <ion-card-subtitle
            >Pieza: {{damage.damage_part?.descPieza}}</ion-card-subtitle
          >
        </ion-card-header>
      </ion-card>

      }@empty {
      <ion-row>
        <ion-col size="12">Sin registro</ion-col>
      </ion-row>
      }

      <ion-row>
        <ion-col size="12">
          <strong>Accesorios</strong>
        </ion-col>
      </ion-row>
      <ion-grid fixed>
        <ion-list class="ion-justify-content-start">
          @for (accessory of currentInspection()?.checkin_accessories; track
          $index) {

          <ion-item>
            <ion-checkbox color="secondary" disabled="true" checked="true"
              >{{accessory.nomAccesorio}}
            </ion-checkbox>
          </ion-item>

          }@empty {
          <ion-item lines="none">
            <ion-icon slot="start" name="alert-circle"></ion-icon>
            <ion-label>Sin registro</ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-grid>

      <ion-row>
        <ion-col size="12">
          <strong>Firma del cliente</strong>
        </ion-col>
        <ion-col size="12">
          <img
            [src]="photosDirectory + currentInspection()?.firmaClienteEntrega"
            alt="firma del cliente"
          />
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  }
</ion-content>
