<ion-header class="ion-no-border">
  <div class="bubble">
    <div class="content">
      <div>
        <img src="/assets/img/logo.png" width="180px" />
        <h2>
          <span>Inspección</span>
          <span style="color: var(--ion-color-secondary) !important">
            Check-out</span
          >
        </h2>
      </div>
      <div class="search-card">
        <ion-label>Seleccione un Vehiculo</ion-label>

        <ion-item lines="none">
          @defer (when cars()) {
          <ion-icon color="secondary" slot="start" name="car"></ion-icon>
          <ionic-selectable
            class="ion-margin-start"
            color="secondary"
            [items]="cars()!"
            itemValueField="idVehiculo"
            itemTextField="nemVehiculo"
            [canSearch]="true"
            (onChange)="selectCar($event)"
          >
          </ionic-selectable>

          } @placeholder {

          <ion-label>Obteniendo datos..</ion-label>
          <ion-spinner color="secondary" name="crescent"></ion-spinner>

          } @error {
          <span>Error</span>
          } @loading() {
          <span>Loading...</span>

          }
        </ion-item>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  @if (currentInspection.idVehiculo != undefined) { @switch (step) { @case (1) {
  <app-general-data
    [step]="step"
    (newItemEvent)="changeStep($event)"
  ></app-general-data>
  } @case (2) {
  <app-damages [step]="step"></app-damages>
  } } }@else{
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <span>Aún no ha seleccionado un vehículo...</span>
    </ion-col>
  </ion-row>
  }
</ion-content>
