<app-toolbar></app-toolbar>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-title>{{ title }}</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="border-radius: 10px">
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-input
            required
            [(ngModel)]="currentAutoPart.descPieza"
            label="Nombre de Pieza"
            labelPlacement="stacked"
            type="text"
            placeholder="Nombre de Accesorio"
            errorText="Este campo es obligatorio"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        Cancelar
        <ion-icon slot="start" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Guardar
        <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
