<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-title
          >Nueva Inspección de {{ currentStage === 'checkout' ? 'Salida' :
          'Entrada' }}
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 10px">
          <ion-item lines="none">
            <ion-label>Seleccione un Contrato</ion-label>
            @defer (when contracts.length > 0) {
            <fa-icon
              style="color: var(--ion-color-secondary)"
              color="secondary"
              slot="start"
              [icon]="contract"
            ></fa-icon>
            <ionic-selectable
              [ngModel]="currentContract()"
              class="ion-margin-start"
              color="secondary"
              [items]="contracts"
              itemValueField="idContrato"
              itemTextField="numContrato"
              [canSearch]="true"
              (onChange)="selectContract($event)"
            >
            </ionic-selectable>

            } @placeholder {

            <ion-label>Obteniendo Datos..</ion-label>
            <ion-spinner color="secondary" name="crescent"></ion-spinner>

            } @error {
            <span>Error</span>
            } @loading () {
            <span>Loading...</span>

            }
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    @if (currentInspection()?.stage === 'checkout') {

    <ion-row>
      <ion-col>
        <ion-card style="border-radius: 10px">
          <ion-item lines="none">
            <ion-label>Seleccione un Vehículo</ion-label>
            @defer (when contracts.length > 0) {
            <ion-icon color="secondary" slot="start" name="car"></ion-icon>
            <ionic-selectable
              [ngModel]="currentCar()"
              class="ion-margin-start"
              color="secondary"
              [items]="cars()"
              itemValueField="idVehiculo"
              itemTextField="nemVehiculo"
              [canSearch]="true"
              (onChange)="selectCar($event)"
            >
            </ionic-selectable>

            } @placeholder {

            <ion-label>Obteniendo Datos..</ion-label>
            <ion-spinner color="secondary" name="crescent"></ion-spinner>

            } @error {
            <span>Error</span>
            } @loading () {
            <span>Loading...</span>

            }
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    } @if (currentInspection()?.idVehiculo === undefined) {
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <span>Aún no ha seleccionado un contrato...</span>
      </ion-col>
    </ion-row>
    } @else {
    <ion-card style="border-radius: 10px">
      <ion-list>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-input
                color="secondary"
                [value]="currentContract().customer?.nomCliente"
                labelPlacement="stacked"
                label="Nombre del Cliente"
                type="text"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-input
                color="secondary"
                [value]="currentContract().driver?.nomCliente || 'Sin Registro'"
                labelPlacement="stacked"
                label="Conductor Adicional"
                type="text"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-input
                color="secondary"
                [value]="currentCar().model?.brand?.descMarca+' '+currentCar().modelo +' | '+currentCar().numMatricula "
                labelPlacement="stacked"
                label="Marca y Modelo del Vehículo | Placa"
                type="text"
                placeholder="Marca y Modelo del Vehículo | Placa"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-input
                color="secondary"
                [value]="currentCar().color"
                labelPlacement="stacked"
                label="Color"
                type="text"
                placeholder="Color"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label
              
                style="--color: var(--ion-color-secondary)"
                position="stacked"
                >{{'*'+'Kilometraje' +' '+
                (currentInspection()?.stage==='checkout'?'OUT':'IN')}}</ion-label
              >
              <ion-input
                required
                [value]="currentInspection()?.stage==='checkout'? currentCar().odometro : currentInspection()?.odoSalida"
                type="number"
                [min]="currentInspection()?.stage==='checkout'? currentCar().odometro : currentInspection()?.odoSalida! + 1"
                errorText="Valor no válido"
                (ionChange)="setOdometer($event)"
                aria-label="Kilometraje"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label
                style="--color: var(--ion-color-secondary)"
                position="stacked"
                >{{'*'+'Nivel de Combustible' +' '+
                (currentInspection()?.stage==='checkout'?'OUT':'IN')}}</ion-label
              >
              <ion-select
                [(ngModel)]="currentFuel"
                required
                [label]=""
                type="text"
                errorText="Este campo es obligatorio"
                (ionChange)="setFuel($event)"
                aria-label="Nivel de Combustible"
              >
                <ion-select-option [value]="null"
                  >Seleccione una opción
                </ion-select-option>
                @for (fuelTank of fuelTanks(); track $index) {

                <ion-select-option [value]="fuelTank.idTanqueComb"
                  >{{ fuelTank.descTanqueComb }}
                </ion-select-option>
                }
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>

    @if (currentInspection()?.fotoLicencia !== undefined) {

    <ion-card style="border-radius: 10px">
      <ion-card-header>
        <ion-list>
          <ion-item lines="none">
            <ion-card-title>Documento</ion-card-title>
            <ion-icon
              button
              color="danger"
              name="close-circle"
              slot="end"
              (click)="removeDocument()"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-header>

      <ion-card-content>
        <ion-img-viewer
          title="Licencia"
          text="Preview"
          scheme="light"
          [src]="'data:image/png;base64,' + currentInspection()?.fotoLicencia"
        >
        </ion-img-viewer>
      </ion-card-content>
    </ion-card>
    } }

    <!-- } @case(2) {
    <app-damages></app-damages>
    }@case (3) {
    <app-accessories></app-accessories>
    }@case (4) {
    <app-signing></app-signing>
    }} -->
  </ion-grid>
  @if (currentInspection()?.idVehiculo !== undefined && currentStage ===
  'checkout') {
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addDocument()">
      <ion-icon name="document-attach"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goToNext()">
        Siguiente
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
