<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="goToPrev()">
        Regresar
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button slot="end" (click)="goToNext()">
        Siguiente
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="bubble">
    <div class="content">
      <h2>
        <span style="color: var(--ion-color-secondary) !important">
          {{title}}</span
        ><span> Inspección</span>
      </h2>
    </div>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <h3>Seleccionar los accesorios</h3>
<ion-list>
  @defer (when accessories()) { @for (accessory of accessories(); track $index)
  {
  <ion-item>
    <ion-checkbox
      (ionChange)="onAccessoryAdd($event, accessory)"
      [value]="accessory.idAccesorio"
      >{{ accessory.nomAccesorio }}</ion-checkbox
    >
  </ion-item>
  } }@placeholder(){
  <ion-item>
    <ion-label>Obteniendo datos..</ion-label>
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  </ion-item>

  }
</ion-list>
  </ion-grid>
</ion-content>

