<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title slot="start"><p></p> </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="onLogout()"
        expand="block"
        fill="clear"
        shape="round"
      >
        {{currentUser()?.nomUsuario}}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="bubble">
    <div class="content">
      <div>
        <img src="assets/img/logo.png" width="40%" />
        <h3 style="margin-top: 0">
          <span>Xplore</span>
          <span style="color: var(--ion-color-secondary) !important">
            Inspecciones</span
          >
        </h3>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  @if(currentStage == 'checkout'){ @defer (when openInspections()) {
  <ion-list lines="inset" inset="true">
    <ion-list-header>
      <ion-label>Inspecciones abiertas</ion-label>
    </ion-list-header>

    @for (openInspection of openInspections(); track $index) {
    <ion-item button (click)="gotToDetail(openInspection)">
      <ion-icon color="primary" slot="start" name="checkmark-circle"></ion-icon>
      <ion-label color="secondary">
        <h2>Vehículo: {{openInspection.car?.nemVehiculo}}</h2>
        <p>
          No. Inspección: {{openInspection.idInspeccion}} | No. Contrato:
          {{openInspection.contract?.numContrato}}
        </p>
      </ion-label>
    </ion-item>
    } @empty() {
    <ion-item lines="none">
      <ion-icon slot="start" name="alert-circle"></ion-icon>
      <ion-label>No se encontraron inspecciones abiertas</ion-label>
    </ion-item>
    }
  </ion-list>
  }@loading {
  <ion-item>
    <ion-icon slot="start" name="alert-circle"></ion-icon>
    <ion-label>Obteniendo datos..</ion-label>
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  </ion-item>

  }@placeholder {
  <ion-item>
    <ion-icon slot="start" name="alert-circle"></ion-icon>
    <ion-label>Obteniendo datos..</ion-label>
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  </ion-item>

  } } @if(currentStage == 'checkin'){ @defer (when closedInspections()) {
  <ion-list lines="inset" inset="true">
    <ion-list-header>
      <ion-label>Inspecciones cerradas</ion-label>
    </ion-list-header>

    @for (closedInspection of closedInspections(); track $index) {
    <ion-item button (click)="gotToDetail(closedInspection)">
      <ion-icon
        color="secondary"
        slot="start"
        name="checkmark-done-circle"
      ></ion-icon>
      <ion-label color="primary">
        <h2>Vehículo: {{closedInspection.car?.nemVehiculo}}</h2>
        <p>
          No. Inspección: {{closedInspection.idInspeccion}} | No. Contrato:
          {{closedInspection.contract?.numContrato}}
        </p>
      </ion-label>
    </ion-item>
    }@empty() {
    <ion-item lines="none">
      <ion-icon slot="start" name="alert-circle"></ion-icon>
      <ion-label>No se encontraron inspecciones cerradas</ion-label>
    </ion-item>
    }
  </ion-list>
  }@placeholder {
  <ion-item>
    <ion-icon slot="start" name="alert-circle"></ion-icon>
    <ion-label>Obteniendo datos..</ion-label>
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  </ion-item>

  }@loading {
  <ion-item>
    <ion-icon slot="start" name="alert-circle"></ion-icon>
    <ion-label>Obteniendo datos..</ion-label>
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  </ion-item>

  }}

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      aria-labelledby="Agregar inspeccion"
      aria-label="Agregar una inspección"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goToCheckIn()"
        ><ion-icon name="arrow-undo"></ion-icon
      ></ion-fab-button>
      <ion-fab-button
        (click)="goToCheckOut()"
        aria-labelledby="Agregar inspeccion"
        aria-label="Agregar una inspección"
      >
        <ion-icon name="arrow-redo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
