@if (photoService.photos.length == 0) {
<ion-title><p>Agregar fotografías de daños</p></ion-title>
<ion-list>
  @defer (when damageParts()) { @for (part of damageParts(); track $index) {
  <ion-item>
    <ion-label>{{ part.descPieza }}</ion-label>
    <ion-button
      (click)="setDamagePart(part.idPieza)"
      expand="block"
      fill="clear"
      shape="round"
    >
      <ion-icon slot="end" name="camera"></ion-icon>
    </ion-button>
    <ion-chip [color]="part.count! > 0 ? 'secondary' : 'default'">{{
      part.count
    }}</ion-chip>
  </ion-item>
  } }@placeholder(){
    <ion-label>Obteniendo datos..</ion-label>
    <ion-spinner color="secondary" name="crescent"></ion-spinner>
  }
</ion-list>
} @if (photoService.photos.length > 0) {
<app-damage-photos
  [damage]="damage"
></app-damage-photos>
}
