@if (photoService.photos.length == 0) {
<ion-title><p>Agregar fotografías de daños</p></ion-title>
<ion-list>
  @defer (when damageParts()) { @for (part of damageParts(); track $index) {
  <ion-item>
    <ion-label>{{ part.descPieza }}</ion-label>
    <ion-button
      (click)="setDamagePart()"
      expand="block"
      fill="clear"
      shape="round"
    >
      <ion-icon slot="end" name="camera"></ion-icon>
    </ion-button>
  </ion-item>
  } }@loading(){
  <span>Obteniendo datos...</span>
  }
</ion-list>
} @if (photoService.photos.length > 0) {
<app-damage-photos></app-damage-photos>
}
