<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="goToPrev()">
        Regresar
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button slot="end" (click)="goToNext()">
        Siguiente
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="bubble">
    <div class="content">
      <h2>
        <span style="color: var(--ion-color-secondary) !important">
          {{title}}</span
        ><span> Inspección</span>
      </h2>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    @if (photoService.photos.length == 0) {
    <h3>Agregar fotografías de daños</h3>
    <ion-list>
      @defer (when damageParts()) { @for (part of damageParts(); track $index) {
      <ion-item>
        <ion-label>{{ part.descPieza }}</ion-label>
        <ion-button
          (click)="setDamagePart(part.idPieza)"
          expand="block"
          fill="clear"
          shape="round"
        >
          <ion-icon slot="end" name="camera"></ion-icon>
        </ion-button>
        <ion-chip [color]="part.count! > 0 ? 'secondary' : 'default'">{{
          part.count
        }}</ion-chip>
      </ion-item>
      } }@placeholder(){
      <ion-item>
        <ion-label>Obteniendo datos..</ion-label>
        <ion-spinner color="secondary" name="crescent"></ion-spinner>
      </ion-item>

      }
    </ion-list>
    } @if (photoService.photos.length > 0) {
    <app-damage-photos [damage]="damage"></app-damage-photos>
    }
  </ion-grid>
</ion-content>
