/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&subset=latin,latin-ext&display=swap");
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body{
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

.bubble {
    position: relative;
    width: 100%;
    height: 188px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: var(--ion-color-secondary-contrast);
    align-items: self-start;
  }
  
  .bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) scale(2);
    margin: -400px auto 0;
    width: 99%; 
    height: 570px;
    overflow: hidden;
    border-radius: 0 0 70% 70%;
    background-color: var(--ion-color-primary);
    box-shadow: 1px 4px 7px #0000005e;
  }
  
  .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    text-align: center;
    padding-bottom: 2%;
  
  }

