.search-card {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 90px;
    padding: 15px 15px 15px 15px;
    background: #fff;
    //border: 25px solid;
    color: #000;
    text-align: center;
    font:
      18px Arial,
      sans-serif;
    box-shadow: 1px 4px 7px #0000005e;
  }
  
  .bubble {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: var(--ion-color-secondary-contrast);
    align-items: self-start;
  }
  
  .bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) scale(2);
    margin: -400px auto 0;
    width: 1000px;
    height: 610px;
    overflow: hidden;
    border-radius: 0 0 70% 70%;
    background-color: var(--ion-color-primary);
    box-shadow: 1px 4px 7px #0000005e;
  }
  
  .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    text-align: center;
    top: 20%;
  }
  
  .autocomplete {
    width: 100%;
  
    ion-searchbar {
      padding: 1px !important;
    }
  
    ion-list {
      position: absolute;
      width: inherit;
      overflow-y: scroll;
      max-height: 150%;
      z-index: 999;
  
      ion-item {
  
        img {
          max-height: 2.5rem;
          width: auto;
          margin: auto;
          display: block;
        }
      }
  
      ion-item:hover {
        cursor: pointer;
        background: #f1f1f1
      }
    }
  }