<ion-header class="ion-no-border">
  <div class="bubble">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="content">
      <div>
        <h2>Inspección</h2>
        <h2 style="color: var(--ion-color-secondary) !important;">Check-out</h2>
      </div>
      <div class="search-card">
       
          <ion-label>Seleccione un Vehiculo</ion-label>
          
        <ion-item lines="none">
          @defer (when cars()) {
          <ion-icon color="secondary" slot="start" name="car"></ion-icon>
         

          <!-- <fa-icon icon="arrow-up"> </fa-icon> -->
          <!-- <div class="autocomplete">
                <ion-searchbar
                placeholder="Buscar Vehiculo"
                type="text"
                (input)="searchCar($event)"
                [debounce]="250"
                showCancelButton="always"
              ></ion-searchbar>
              
              <ion-list>
                <ion-item *ngFor="let res of cars()"> {{res.nemVehiculo}} </ion-item>
              </ion-list>
              </div> -->

          <ionic-selectable
            [(ngModel)]="newInspection.idVehiculo"
            color="secondary"
            [items]="cars()!"
            itemValueField="idVehiculo"
            itemTextField="nemVehiculo"
            [canSearch]="true"
            (onChange)="searchCar($event)"
          >
          </ionic-selectable>

          } @placeholder {
          <span>Obteniendo datos..</span>
          } @error {
          <span>Error</span>
          } @loading() {
          <span>Loading...</span>

          }
        </ion-item>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
