<ion-header class="ion-no-border">
  <div class="bubble">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="content">
      <div>
        <h2>Inspección</h2>
        <h1 style="color: var(--ion-color-secondary) !important">Check-out</h1>
      </div>
      <div class="search-card">
        <ion-label>Seleccione un Vehiculo</ion-label>

        <ion-item lines="none">
          @defer (when cars()) {
          <ion-icon color="secondary" slot="start" name="car"></ion-icon>
          <ionic-selectable
          class="ion-margin-start"
            [(ngModel)]="newInspection.idVehiculo"
            color="secondary"
            [items]="cars()!"
            itemValueField="idVehiculo"
            itemTextField="nemVehiculo"
            [canSearch]="true"
            (onChange)="searchCar($event)"
          >
          </ionic-selectable>

          } @placeholder {
          <ion-item>
            <ion-label>Obteniendo datos..</ion-label>
            <ion-spinner color="secondary" name="crescent"></ion-spinner>
          </ion-item>
          } @error {
          <span>Error</span>
          } @loading() {
          <span>Loading...</span>

          }
        </ion-item>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  @if (newInspection.idVehiculo != null) {
    <app-general-data></app-general-data>
  }@else{
    <ion-row class="ion-align-items-center">
      <ion-col size="12" >
        <span>Aún no ha seleccionado un vehículo...</span>
      </ion-col>
    </ion-row>
  }
  
</ion-content>
