<app-toolbar></app-toolbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-title>Tipos de Daños</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="border-radius: 10px">
    <ion-card-content>
      @if (damageTypes().length >0) {
      <ion-list>
        @for (damageType of damageTypes(); track $index) {

        <ion-item detail="true" button (click)="goToDetail(damageType)">
          <ion-icon slot="start" color="primary" name="ellipse"></ion-icon>
          <ion-label color="secondary">
            <h2>{{damageType.descTipoDanio}}</h2>
            <p>Tipo de Daño No.: {{damageType.idTipoDanio}}</p>
          </ion-label>
        </ion-item>
        } @empty() {
        <ion-item lines="none">
          <ion-icon slot="start" name="alert-circle"></ion-icon>
          <ion-label>No se encontraron tipos de daños</ion-label>
        </ion-item>
        }
      </ion-list>
      }@else {
      <ion-item>
        <ion-icon slot="start" name="alert-circle"></ion-icon>
        <ion-label>Obteniendo datos..</ion-label>
        <ion-spinner color="secondary" name="crescent"></ion-spinner>
      </ion-item>

      }
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="goToCreate()"
      aria-labelledby="Agregar tipo de daño"
      aria-label="Agregar tipo de daño"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
