<ion-list>
  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeSm="12">
      <ion-item>
        <ion-input
          color="secondary"
          ngDefaultControl
          [ngModel]="currentCar()?.model?.brand?.descMarca"
          labelPlacement="stacked"
          label="Marca de Vehículo"
          type="text"
          placeholder="Awesome Input"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col sizeLg="6" sizeMd="6" sizeSm="12">
      <ion-item>
        <ion-input
          color="secondary"
          ngDefaultControl
          [ngModel]="currentCar()?.modelo"
          labelPlacement="stacked"
          label="Modelo de Vehículo"
          type="text"
          readonly
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-input
          color="secondary"
          ngDefaultControl
          [ngModel]="currentCar()?.contract?.customer?.nomCliente"
          labelPlacement="stacked"
          label="Nombre del cliente"
          type="text"
          readonly
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-input
          color="secondary"
          ngDefaultControl
          [ngModel]="currentCar()?.contract?.customer?.correoI"
          labelPlacement="stacked"
          label="Correo electrónico del cliente"
          type="text"
          readonly
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-input
          color="secondary"
          ngDefaultControl
          [ngModel]="currentCar()?.contract?.customer?.celularI"
          labelPlacement="stacked"
          label="Número celular del cliente"
          type="text"
          readonly
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-input
          ngDefaultControl
          color="secondary"
          [ngModel]="currentCar()?.contract?.numContrato"
          labelPlacement="stacked"
          label="Número de contrato"
          type="text"
          readonly
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-input
          color="secondary"
          ngDefaultControl
          [ngModel]="currentCar()?.odometro"
          labelPlacement="stacked"
          label="Kilometraje"
          type="number"
          [min]="currentCar()?.odometro!"
          errorText="Valor no válido"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-input
          color="secondary"
          ngDefaultControl
          [ngModel]="currentCar()?.fuel"
          labelPlacement="stacked"
          label="Nivel de combustible"
          type="text"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-list>
<ion-fab style="margin-bottom: 50px;" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="showDamages(2)">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="showDamages(2)">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
